<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title PDFthisDomain
    %meta{:content => "A Simple web tool to allow you to take an accurate snapshot of your entire website.", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{:content => "print your website,print pdf,screenshot,markup website, save website", :name => "keywords"}/
    %meta{:content => "Y8so0blLEUHiyrUHIFj1iarFJIb6E7TG-WxJ7j1xGho", :name => "google-site-verification"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/style.css", :rel => "stylesheet"}
    %script{:src => "/js/libs/modernizr-2.5.3.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "/js/jquery_ujs.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/libs/store.min.js"}
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} PDFthisDomain
    .container
      =yield
    %script{:src => "/js/plugins.js"}      

