<!doctype html>
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title PDFthisDomain
    %meta{:content => "A Simple web tool to allow you to take an accurate snapshot of your entire website.", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{:content => "print your website,print pdf,screenshot,markup website, save website", :name => "keywords"}/
    %meta{:content => "Y8so0blLEUHiyrUHIFj1iarFJIb6E7TG-WxJ7j1xGho", :name => "google-site-verification"}/
    %meta{:content => "hi1KzyuQw-tW5R_0KsJ2iUs7WEmK1NRnqVGDzeiXN8o", :name => "google-site-verification"}/
    %meta{:content => "hi1KzyuQw-tW5R_0KsJ2iUs7WEmK1NRnqVGDzeiXN8o", :name => "google-site-verification"}/
    %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/css/style.css", :rel => "stylesheet"}
    %script{:src => "/js/libs/modernizr-2.5.3.min.js"}
    %script{:src => "/js/script.js"}
    
  %body
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    %header
    %a{:href => "https://github.com/rposborne/PDFthisDomain"}
      %img{:alt => "Fork me on GitHub", :src => "https://a248.e.akamai.net/camo.github.com/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67", :style => "position: absolute; top: 0; left: 0; border: 0; z-index:100000000;"}/
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"} PDFthisDomain
    .container
      =yield
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "/js/jquery_ujs.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/libs/store.min.js"}
    %script{:src => "/js/plugins.js"}
    :erb
      <!-- begin olark code --><script type='text/javascript'>/*{literal}<![CDATA[*/
      window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('4379-1434713-10-8892');/*]]>{/literal}*/</script>
      <!-- end olark code -->      
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31057886-1']);
      _gaq.push(['_setDomainName', 'pdfthisdomain.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
