.row
  .span4
    %h2 Rendered with WebKit
    %p PDFthisDomain is powered by wkhtmltopdf an amazing open source projects that provides rendering from a url to a PDF.  It is an actively maintained and a highly useful tool that we use across all sorts of applications for PDF rendering. 
    %p
      %a.btn{:href => "http://code.google.com/p/wkhtmltopdf/"} Learn about wkhtmltopdf »

  .span4
    %h2 3 Free!
    %p Up to three sites are rendered, zipped, and emailed directly to you. If you need more than that it's online 10 cents (US) per page. 
    %p
      %a.btn{:href => "http://burningpony.com"} Learn about Burningpony »
  .span4
    %h2 Open Source
    %p You can find this entire application on github!
    %p
      %a.btn{:href => "https://github.com/rposborne/PDFthisDomain"} Use the Source! »
