.row
  .span4
    %h2 Rendered with WebKit
    %p PDFthisDomain is powered by wkhtmltopdf an amazing open source project that provides rendering from a URL to a PDF.  It is an actively maintained and a highly useful tool that we use across all sorts of applications for PDF rendering. 
    %p
      %a.btn{:href => "http://code.google.com/p/wkhtmltopdf/"} Learn about wkhtmltopdf »

  .span4
    %h2 5 Free!
    %p Up to five pages of any website rendered, zipped, and emailed directly to you. If you need more than that it's only 10 cents (US) per page. 
    %p
      
  .span4
    %h2 Why?
    %p Have you ever wanted to print a website, not by taking a screenshot where you lose half the page, and not having the super ugly print version, well now you can.  We use an actual browser to generate images or PDFs of your site the way they are meant to be seen!
    %p
      %a.btn{:href => "http://blog.burningpony.com/blog/2012/04/20/new-post/"} Read More! »
.pull-right
  %a{:href => "https://mixpanel.com/f/partner"}
    %img{:alt => "Mobile and Web Analytics", :src => "https://mixpanel.com/site_media/images/partner/badge_light.png"}/

