.row
  .span4
    %h2 Rendered with WebKit
    %p PDFthisDomain is powered by wkhtmltopdf an amazing open source projects that provides rendering from a url to a PDF.  It is an actively maintained and a highly useful tool that we use across all sorts of applications for PDF rendering. 
    %p
      %a.btn{:href => "http://code.google.com/p/wkhtmltopdf/"} Learn about wkhtmltopdf »

  .span4
    %h2 20 Free!
    %p Up to twenty sites are rendered, zipped, and emailed directly to you. If you need more than that it's online 10 cents (US) per page. 
    %p
      %a.btn{:href => "http://burningpony.com"} Learn about Burningpony »
  .span4
    %h2 Open Source
    %p You can find this entire application on github!
    %p
      %a.btn{:href => "https://github.com/rposborne/PDFthisDomain"} Use the Source! »
.pull-right
  %a{:href => "https://mixpanel.com/f/partner"}
    %img{:alt => "Mobile and Web Analytics", :src => "https://mixpanel.com/site_media/images/partner/badge_light.png"}/
:erb
  <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
  for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
  mixpanel.init("9ed644d53e2b51d61306806a4e0d00a0");</script><!-- end Mixpanel -->
