.hero-unit
  %h1 PDF this Domain
  %p 
    This will create a set of PDFs for a given url.   It will follow the top 10 links in your domain. 
  %br
  %form#url-lookup.form-inline{:method => :post, :action => "/prepare"}
    .control-group
      .controls
        %input#url-lookup.super{:name => :url , :value => "#{"http://" unless params['url']}#{params["url"] if params["url"]  }", :placeholder => "URL"}
        %input.btn.btn-primary.btn-large{:type => :submit, :value => "PDF it"} 
  .status.span12
    %br
    #status.hide
!= haml :footer


